[MASTER]
jobs= 0 # auto-detect the number of processors available

[MESSAGES CONTROL]
# message code: http://pylint-messages.wikidot.com/all-codes
disable = 
      C0111, # Missing docstring
      C0301, # Line too long
      C0411, E0401 # Imports
	  
[FORMAT]
max-module-lines = 300

[REFACTORING]
# Maximum number of nested blocks for function / method body
max-nested-blocks=3

[REPORTS]
reports=yes # activate detailed reports

